/*настройки для всей страницы*/
body {
  /*width:620px
  height: 877px;
  margin: 0;
  padding: 0;*/
  /*настройки шрифта*/
  margin: 0;
   font-family: rgb(22, 22, 66), Arial, sans-serif;
  font-size: 15px;
  line-height: 22px;
  color: rgb(1, 1, 31);
}


.containerHeader {
  padding-top: 10px;
  /*margin: 0;*/
  background: rgba(105, 105, 167);
  background-size: cover;
  text-align: center;
  height: 330px;
}

.block {
  display:block;
  width:70%;
  margin:0 auto;
  padding-top: 10px;
}
       ul{ 
        display:inline-block; 
        

      }
    
    li {
      float:left;
      padding-right: 100px;
  }
    h3{
      padding:0;
      margin:0;
      text-decoration: underline;
      text-align: center;
    }
    


  .image {
    margin:0 auto;
    height: 100;
  width: 85;
    overflow:hidden;
  }


/*/
.center-img {
  height: 100;
  width: 85;
  display: block;
  margin: auto;
}
h1 {
  font-weight: bold;
  color: rgb(1, 24, 13);
  text-align: center;
}*/*/
